
<div class="row">
    <div class="col-sm-3">
        <app-header></app-header>
    </div>
    <div class="col-sm-9">
        <div class="page-header text-center">
            <h3>FARMER REGISTRATION</h3>
            
          </div>
          <br><br><br>
          <div class="container"> 
            <div class="row">
              <div class="col-sm-4">
               
              </div>
              <div class="col-sm-4">
                <label for="name">Name</label>
                <input type="text" class="form-control" id = "id1"  #name placeholder="Enter Farmer Name" name="Name">
                <br><br>
                <button type="submit" class="btn" (click)="farmer_registeration(name.value)">Register</button>
              </div>
           
            </div>
          </div>
          
          <ngx-spinner></ngx-spinner>  
          <div class="footer">
              <div class="content">
                    <p><br>Copyright &copy; ChainFlux</p>
              </div>
            </div>                   
        </div>
        </div>
      

  




